<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.semipig.mapper.BusinessMapper">
    <insert id="insertUser" parameterType="JoinDto">
        insert into user (email,id,password,user_name,user_type)
        values (#{email},#{id},#{password},#{user_name},#{user_type})
    </insert>
</mapper>