<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.semipig.mapper.DetailMapper">
    <insert id="insertFoodHistory" parameterType="map">
        INSERT INTO user_history (user_idx, food_type, restrt_list)
        VALUES (#{user_idx}, #{food_type}, #{restrt_list})
    </insert>
    <select id="getHistoryCount" parameterType="int" resultType="int">
        select count(*) from user_history where user_idx=#{user_idx}
    </select>
    <delete id="autoHistoryDelete" parameterType="int">
        DELETE uh1 FROM user_history uh1
        INNER JOIN (
            SELECT MIN(history_idx) AS history_idx FROM user_history where user_idx=#{user_idx}
        ) uh2 ON uh1.history_idx = uh2.history_idx;
    </delete>

    <select id="getBookmarkCount" parameterType="Integer" resultType="int">
        select count(*) from bookmark where user_idx = #{user_idx} and food_idx = #{food_idx}
    </select>

    <select id="insertBookmark" parameterType="int">
        INSERT INTO bookmark (user_idx, food_idx)
        SELECT #{user_idx}, #{food_idx} FROM DUAL
        WHERE NOT EXISTS (
            SELECT * FROM bookmark WHERE user_idx=#{user_idx} AND food_idx=#{food_idx}
        );
    </select>

    <delete id="deleteBookmark" parameterType="int">
        delete from bookmark where user_idx = #{user_idx} and food_idx = #{food_idx}
    </delete>


    <select id="getFavoriteFood" parameterType="int" resultType="String">
        SELECT food_type
        FROM user_history
        WHERE user_idx = #{user_idx}
        GROUP BY food_type
        ORDER BY COUNT(*) DESC
            LIMIT 1;
    </select>
    <select id="getRecommandFood" parameterType="String" resultType="int">
        SELECT food_idx
        FROM food_list
        WHERE food_type = #{favoriteFood}
        ORDER BY RAND()
            LIMIT 3;
    </select>
</mapper>