<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.semipig.mapper.JoinMapper">
    <insert id="insertUser" parameterType="JoinDto">
        insert into user (id,password,user_name,user_type,email)
        values (#{id},#{password},#{user_name},#{user_type},#{email})
    </insert>
    <select id="isIdAvailable" parameterType="JoinDto" resultType="int">
        select exists (select * from user where id = #{id})
    </select>
    <select id="existFoodList" parameterType="JoinDto" resultType="int">
        select exists (select * from food_list where user_idx = #{user_idx})
    </select>
    <select id="selectUserType" parameterType="int" resultType="int">
        SELECT user_type FROM user WHERE user_idx = #{user_idx}
    </select>
</mapper>