<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.semipig.mapper.JoinMapper">
    <insert id="insertUser" parameterType="JoinDto">
        insert into user (id,password,user_name,user_type,email)
        values (#{id},#{password},#{user_name},#{user_type},#{email})
    </insert>
</mapper>