<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.semipig.mapper.ServiceMapper">
    <insert id="insertt" parameterType="ServiceDto">
        INSERT INTO calendar (start, user_name, user_idx, food_idx) VALUES (#{start}, #{user_name}, #{user_idx},#{food_idx})
    </insert>
    <select id="selectt"  resultType="ServiceDto" parameterType="int">
        select * from calendar where food_idx=#{user_idx}
    </select>
    <delete id="deletee" parameterType="int">
        delete from calendar where num=#{num}
    </delete>
    <select id="getAll" parameterType="Map" resultType="ServiceDto">
        select * from calendar where start >= #{currentDateTime} and food_idx=#{user_idx} ORDER BY start ASC LIMIT #{startNum}, #{perPage}
    </select>
    <update id="updatee" parameterType="ServiceDto">
    update calendar set start=#{start} where num=#{num}
</update>
    <select id="detail" resultType="ServiceDto">
    select * from calendar where num=#{num}
    </select>
    <select id="getFoodIdx" resultType="int" parameterType="int">
        select food_idx
        from food_list a
                 left join user b
                           on a.user_idx =b.user_idx
        where b.user_idx=#{user_idx}
    </select>
    <select id="couponall" resultType="couponDto">
    select * from coupon where user_idx=#{user_idx} order by num desc
    </select>
    <insert id="couponinsert" parameterType="couponDto">
        insert into coupon(number,time,user_idx,max) values(#{number},#{time},#{user_idx},#{max})
    </insert>
    <delete id="deletecoupon" parameterType="int">
        delete from coupon where num = #{num}
    </delete>
    <select id="getTotalCount" resultType="int">
        select count(*) from calendar where start > NOW() and food_idx = #{user_idx}
    </select>
    <select id="reviewcount" resultType="int">
        select count(*) from review where food_idx=#{food_idx}
    </select>
    <select id="qnalist" parameterType="Map" resultType="qnaDto">
        select * from qna where user_idx=#{user_idx} ORDER BY qna_idx desc LIMIT #{startNum}, #{perPage}
    </select>
    <select id="reviewlist" resultType="ReviewDto"  parameterType="Map">
        select * from review where food_idx=#{food_idx} ORDER BY review_idx desc LIMIT #{startNum}, #{perPage}
    </select>
    <select id="ReservationCount" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM calendar WHERE start = #{start}
    </select>
    <select id="getmypage" resultType="DetailDto" parameterType="int">
        select * from food_list where food_idx=#{food_idx}
    </select>
    <update id="couponmax" parameterType="couponDto">
        UPDATE coupon
        SET max = max - 1
        WHERE user_idx = #{user_idx} AND max > 0 and time > NOW()
    </update>
    <insert id="couponid" parameterType="couponlistDto">
        insert into couponlist(number,time,user_idx,user_id,storename) values(#{number},#{time},#{user_idx},#{user_id},#{storename})
    </insert>
    <select id="couponlist" parameterType="int" resultType="couponlistDto">
        select * from couponlist where user_idx=#{user_idx}
    </select>
    <select id="couponlist2" resultType="couponlistDto">
        select * from couponlist where user_id=#{user_id}
    </select>
    <select id="getCouponByUserIdx" parameterType="int" resultType="couponDto">
        select * from coupon where user_idx = #{user_idx} AND time > now()
    </select>
    <select id="couponlist2" resultType="couponlistDto">
        select * from couponlist where user_id=#{user_id}
    </select>
</mapper>