.enter_section{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
}
.j_enter_logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.9;
}

.j_bg_box{
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    float: left;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg_r_img {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 50%;
    height: 100%;
    z-index: 0;
    float: left;
}
.bg_r_img.active {
    opacity: 1;
}
.bg_l_img {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 50%;
    height: 100%;
    z-index: 0;
}
.bg_l_img.active {
    opacity: 1;
}
.j_enter_welcome_btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* 버튼이 최상위 레이어에 있도록 z-index 값을 높게 설정 */
}
.j_enter_ownermenual_btn {
    position: absolute;
    top: 80%;
    right: 25%;
    transform: translate(50%, -50%);
    z-index: 10; /* 버튼이 최상위 레이어에 있도록 z-index 값을 높게 설정 */
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: darkslategray;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px;
    border-radius: 100px;
    opacity: 0.9;
    z-index: 3;
}
.btn:hover {
    background-position: right center; /* change the direction of the change here */
}
.j_enter_welcome_btn {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
.j_enter_ownermenual_btn {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}